.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  background: linear-gradient(to right, #0a192f, #112240);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-primary {
  color: #64ffda; /* Modern green accent */
}

.btn-primary {
  background-color: #64ffda;
  border: none;
  color: #0a192f;
  font-weight: bold;
}

.btn-outline-light {
  border: 2px solid #64ffda;
  color: #64ffda;
}

.btn-primary:hover {
  background-color: #52e6c4;
}

.btn-outline-light:hover {
  background-color: #64ffda;
  color: #0a192f;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #333;
}

body.dark-mode .navbar-brand,
body.dark-mode .nav-link {
  color: #ffffff;
}

body.dark-mode .btn-light {
  background-color: #333;
  color: #fff;
}

body.dark-mode .btn-light:hover {
  background-color: #555;
}
